.App {
  text-align: center;
}


.app__form{
text-align: center;
padding: 20px;
position: fixed;
bottom: 20px;
z-index: 1; /* brings to the front; over other elements default of other elements is 0*/
background-color: #e9e9eb;
width : 100%;
margin: 20px;
}
